<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Levi Project</title>
</head>
<body>
    <h1>Welcome to Levi's Project</h1>
    <p>This is a simple HTML page. <a href="/about">-->About Me<--</a></p>
    <div>Music is my life and I love playing music.</div>
    <p>I love coding. <a href="http://plugx.club/sounds">-->This is my Website<--</a></p>
    <p>I graduated from the Guangzhou Institute of Science and Technology, Guangdong. My major is Software Engineering.</p>
    <p>Here is my music list: <a href="/music">-->Go to Music List<--</a></p>
    <div><label>
        <h2>
            Your voice is important to me.
        </h2>
        <input type="text" placeholder="Write your advice here...">
        <select>
            <option value="1">Good</option>
            <option value="2">Bad</option>
            <option value="3">Neutral</option>
        </select>
        <input type="submit" value="Submit">
    </label></div>
</body>
</html>
