<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>music_list</title>
</head>
<body>
    <h1>Music List</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Title</th>  <th>Picture</th> <th>Artist</th>  <th>Style</th> <th>More</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>The Dark Side of the Moon</td>
                <td>
                    <img style="width:100px;height:100px;" src="/static/music.jpg" alt="None">
                </td>
                <td>Pink Floyd</td>
                <td>Progressive rock</td>
                <td>Edit Deleted</td>
            </tr>
            <tr>
                <td>Stairway to Heaven</td>
                <td>
                    <img style="width:100px;height:100px;" src="/static/music2.jpg" alt="None">
                </td>
                <td>Led Zeppelin</td>
                <td>Progressive rock</td>
                <td>Edit Deleted</td>
            </tr>
            <tr>
                <td>Hotel California</td>
                <td>
                    <img style="width:100px;height:100px;" src="/static/music3.jpg" alt="None">
                </td>
                <td>The Eagles</td>
                <td>Progressive rock</td>
                <td>Edit Deleted</td>
            </tr>
        </tbody>
    </table>
</body>
</html>